@model LibBiz.Models.Doctor

<div class="container">

    <main>

        <partial name="_Header" />

        <h2>Consultation with (Dr.)@Model.Name</h2>



    </main>

    <partial name="_Footer" />

</div>