@model DoctorInfoViewModel

@section CustomCSS{
    <link href="~/doctor/dashboard.css" rel="stylesheet" />
}

<partial name="_Header" />

<div class="container-fluid">

    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <partial name="_Menu" />

            <h2 class="m-3">My Profile</h2>

            @if (TempData.ContainsKey("Message"))
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Message"]
                </div>
            }

            <form method="post">
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name">
                    <small class="form-text text-muted">(your name as shown to your customer)</small>
                </div>
                <div class="form-group mb-3">
                    <label>Phone</label>
                    <input asp-for="Phone" class="form-control" placeholder="Enter contact phone">
                    <small class="form-text text-muted">(your phone as shown to your customer)</small>
                </div>
                <!-- Restante das propriedades do DoctorInfoViewModel -->
                <button type="submit" class="mt-3 btn btn-primary">Update</button>
            </form>

            <!-- Adicione o código para exibir outras informações do médico aqui -->


            <partial name="_Footer" />

    </div>
</div>

@section CustomJS{

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

    <script src="~/doctor/dashboard.js"></script>
}
