@model PatientAreaModel

<div class="container">
    <main>

        <partial name="_HeaderPatient" />

        @*         <partial name="_Consultations" for="Consultations" />
        *@
    </main>

    <partial name="_Footer" />

</div>