@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model P_ProfileModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eConsultasMVC.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/starter-template.css" asp-append-version="true" />

<div class="container">
    <main>

        <partial name="_HeaderPatient" />

        <h2>My Profile</h2>

        <form method="post" asp-action="P_UpdateProfile">

            <div class="form-group mb-3">
                <label>Name</label>
                <input asp-for="Patient.Name" class="form-control" placeholder="Enter name">
                <small class="form-text text-muted">(your name as shown to your doctor)</small>
            </div>

            <div class="form-group mb-3">
                <label>Phone</label>
                <input asp-for="Patient.Phone" class="form-control" placeholder="Enter contact phone">
                <small class="form-text text-muted">(your phone as shown to your doctor)</small>
            </div>

            <button type="submit" class="mt-3 btn btn-primary">Update</button>

        </form>

    </main>

    <partial name="_Footer" />

</div>

