<div class="py-3 text-center">
    <a asp-action="Index" class="btn btn-primary btn-lg">My Consultations</a>

    <a asp-action="Search" class="btn btn-primary btn-lg">Search a Doctor</a>

    <p class="lead">You are logged in as @Model.Patient.Email!</p>
</div>