@{
    var httpContext = ViewContext.HttpContext;
    var Email = httpContext.Session.GetString("Email");
}

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-md-3 col-lg-2 me-0 px-3">
        Logged in as @Email
    </span>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a asp-controller="Auth" asp-action="LogOut" class="nav-link px-3">Sign out</a>
        </div>
    </div>
</header>
