@{
    var httpContext = ViewContext.HttpContext;
    var Email = httpContext.Session.GetString("Email");
}
<div class="py-3 text-center">
    <a asp-action="Index" class="btn btn-primary btn-lg">My Consultations</a>

    <a asp-action="Search" class="btn btn-primary btn-lg">Search a Doctor</a>

    <a asp-action="Profile" class="btn btn-primary btn-lg">Edit Profile</a>

    <a asp-action="LogOut" asp-controller="Auth" class="btn btn-primary btn-lg">Log out</a>

    <p class="lead">You are logged in as @Email!</p>
</div>