<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-action="DoctorDashboard">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" asp-action="DoctorProfile">
                    <span data-feather="file-text"></span>
                    General Bio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="DoctorSpecialization">
                    <span data-feather="file-text"></span>
                    Specialization
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-action="DoctorClinic">
                    <span data-feather="file-text"></span>
                    Clinic
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-action="DoctorFees">
                    <span data-feather="file-text"></span>
                    Fees
                </a>
            </li>



            <!-- IMPLEMENT THESE YOURSELF AS AN EXERCISE
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Patients
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Payments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Others
                </a>
              </li>
              -->
        </ul>
    </div>
</nav>