@model LibBiz.Models.User
@{
    Layout = null;
}

<link href="~/css/signin.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eConsultasMVC.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/starter-template.css" asp-append-version="true" />

<div class="text-center w-100">
    <main class="form-signin">
        <form asp-controller="Auth" asp-action="Register" method="post" asp-model="@Model">
            <h1 class="h3 mb-3 fw-normal">Please register</h1>

            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                <label asp-for="Email">Email address:</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="password">
                <label asp-for="Email">Password:</label>
            </div>

            <div class="mb-3">
                <input asp-for="RoleId" value="1" class="form-check-input" type="radio" id="doctorRadio" checked>
                <label class="form-check-label" asp-for="RoleId">I am a Doctor</label>
            </div>

            <div>
                <input asp-for="RoleId" value="0" class="form-check-input" type="radio" id="patientRadio">
                <label class="form-check-label" asp-for="RoleId">I am a Patient</label>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

            <a asp-controller="LandingPage" asp-action="Index" class="btn btn-primary btn-lg mt-3 w-100">Back to Home</a>

            <partial name="_Footer" />
        </form>
    </main>
</div>