@model LibBiz.Models.Patient
@{
    Layout = null;
}

<link href="~/css/signin.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eConsultasMVC.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/starter-template.css" asp-append-version="true" />

<div class="text-center w-100">
    <main class="form-signin">
        <form asp-action="SavePatient" method="post">
            <h1 class="h3 mb-3 fw-normal">Register Patient Information</h1>

            <input hidden asp-for="@Model.Email" />
            <input hidden asp-for="@Model.Password" />
            <input hidden asp-for="@Model.RoleId" />

            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Name" required>
                <label asp-for="Name">Name:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Phone" required>
                <label asp-for="Phone">Phone:</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg mt-3 w-100y">Register</button>
        </form>
    </main>
</div>