@{
    Layout = null;
}

<link href="~/css/starter-template.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eConsultasMVC.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/starter-template.css" asp-append-version="true" />

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
        <h1>Bem Vindos ao eConsultas</h1>
        <p class="fs-5 col-md-8">De forma a conseguir aceder a toda a informação, terá que fazer o</p>
        <a asp-controller="Auth" asp-action="Login" class="btn btn-primary btn-lg px-4">Login</a>

        <p>Não está registado? Clique</p>
        <a asp-controller="Auth" asp-action="Register" class="btn btn-primary btn-lg px-4">Aqui</a>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        Created by Daniel &amp; Dmytro &middot; &copy; 2023
    </footer>
</div>