@{
    Layout = null;
}

<link href="~/css/signin.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eConsultasMVC.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/starter-template.css" asp-append-version="true" />

<div class="text-center w-100">

    <header class="pb-5 mb-5 border-bottom">
        <h1>Bem Vindos ao eConsultas</h1>
    </header>

    <main>
        <div class="mb-5">
            <span class="fs-5">
                De forma a conseguir aceder a toda a informação,
                <br />
                terá que fazer o
            </span>
            <br />
            <br />
            <a asp-controller="Auth" asp-action="Login" class="btn btn-primary btn-lg px-4">Login</a>
            <br />
            <br />
            <br />
            <span class="fs-5">
                Não está registado? Clique
            </span>
            <br />
            <br />

            <a asp-controller="Auth" asp-action="Register" class="btn btn-primary btn-lg px-4">Aqui</a>
        </div>
    </main>
    <partial name="_Footer" />
</div>